/* Signup.css */

.signup-container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background: url("../../images/login.png") no-repeat center center fixed;
  background-color: #548f94;
  background-size: contain;
  font-family: "Noto Serif";
}

.form-container {
  background-color: #fff;
  padding: 10px 40px !important;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  font-weight: bold;
}

.signup-input-group {
  margin-bottom: 2px !important;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 25px;
  border: 1px solid #ddd;
  transition: box-shadow 0.3s ease;
}

select {
  border-radius: 25px !important;
}

.role {
  margin-top: 10px;
  margin-bottom: 20px;
}

.role label {
  margin-right: 15px;
}

input:focus,
select:focus {
  box-shadow: 0 0 15px rgba(84, 143, 148, 1);
  border-color: #548f94 !important;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  background-color: #548f94;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 16px;
}

.navigate-button {
  background: none;
  border: none;
  color: #007bff;
  background-color: white;
  cursor: pointer;
  text-decoration: underline;
  font-size: 20px;
}

.navigate-button:hover {
  color: darkblue;
  background-color: white;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-message-container {
  text-align: center;
  margin-top: 20px;
}

.login-message {
  font-size: 20px;
}
