/* components/Doctors/Doctors.css */

.doctor-card {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.doctor-card h3 {
  margin-top: 0;
}

.doctor-card button {
  background-color: #548f94;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.doctor-card button:hover {
  background-color: #0056b3;
}

.doctors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
